# Security: Could otherwise change the checked-in artifacts
/packages/*/bin/**/*.js @samkenx

# Security: Could otherwise leak secrets
/.github/workflows/* @samkenx

# Security: Could otherwise remove the security rules
/CODEOWNERS @samkenx
